.container{
  color: black;
  padding: 50px;
  background-color: aqua;
  
}
.Heading{
  color: red;
  font-size: 100px;
  font-style: italic;
}
.card{
  width: 500px;
  padding: 30px;
  margin: 50px;
  background-position-x: center;
  
}
.container.row{
box-sizing: content-box;
}
.card-body{
  background-color: bisque;
  background-position-x: center;
}